<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <title>@ViewData["Title"] - Rybka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->    
    <script src="~/lib/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <style>        
    </style>
    
    <script>

        let prodsTobuy = [];
        let prodsTobuyString = "";
        let prodsTobuyRequestString = "";

        function prodsTobuyPrint() {
            console.log('--->>>prodsTobuyPrint : ');            
            if (prodsTobuy.length == 0) console.log('...prodsTobuy Empty...')
            else prodsTobuy.forEach((number) => console.log(number));
            console.log('prodsTobuyString = ' + prodsTobuy.toString());
            console.log('prodsTobuyRequestString = ' + prodsTobuyRequestString.toString());
        };

        function prodsTobuyRequestStringBuild() { 
            prodsTobuyRequestString = "";
            for (let i = 0; i < prodsTobuy.length; i++) { 
                prodsTobuyRequestString += "basketprodlist[" + i + "]=" + prodsTobuy[i] + "&";                
            }
            prodsTobuyRequestString = prodsTobuyRequestString.slice(0, prodsTobuyRequestString.length - 1);
        }

        function basketUpdate() {                
            basket_counter.innerHTML = prodsTobuy.length;
            if (prodsTobuy.length == 0) {
                basket.classList.add('basketEmpty');                
                basket.setAttribute("href", "/Basket/Index?" + prodsTobuyRequestString);                
                prodsTobuySaveToCookie();
                //basket.setAttribute("asp-route-basketprodlist", prodsTobuyString); //not working
                //textinput_basketProdList.setAttribute('value', prodsTobuyString);  //not working via form
                //document.getElementById('basketProdList').value = prodsTobuyString;//not working via form
            }
            else {
                basket.classList.remove('basketEmpty');                
                basket.setAttribute("href", "/Basket/Index?" + prodsTobuyRequestString);                
                prodsTobuySaveToCookie();
                //basket.setAttribute("asp-route-basketprodlist", prodsTobuyString); //not working
                //textinput_basketProdList.setAttribute('value', prodsTobuyString);  //not working via form
                //document.getElementById('basketProdList').value = prodsTobuyString;//not working via form
            }                        
        }

        document.addEventListener('click', handleClick);

        function handleClick(event) {            
                console.log('user clicked: ', event.target);
                var btn = event.target;
                //---MAIN select
                if (btn.innerHTML.trim() == 'В корзину' && btn.classList.contains("basketAddRemove")) {
                    btn.innerHTML = 'В корзине';
                    btn.classList.add('btn-danger');
                    btn.classList.remove('btn-success');                    

                    prodsTobuy.push(btn.id);                                //update Prods array
                    prodsTobuyString = prodsTobuy.toString();             //update Prods string
                    prodsTobuyRequestStringBuild()
                    basketUpdate();
                    prodsTobuyPrint();                    
                }
                else {
                    if (btn.classList.contains("basketAddRemove")) {
                        btn.innerHTML = 'В корзину';
                        btn.classList.add('btn-success');
                        btn.classList.remove('btn-danger');                                   

                        prodsTobuy.splice(prodsTobuy.indexOf(btn.id), 1);   //update Prods array
                        prodsTobuyString = prodsTobuy.toString();            //update Prods string
                        prodsTobuyRequestStringBuild()
                        basketUpdate();
                        prodsTobuyPrint();                        
                    }
                }
                //---BASKET change amount
                if (btn.classList.contains("btn-minus")) {
                    let grp_id = btn.id.slice(0, -6);
                    let grp_input_id = grp_id + "_amount";
                    if (grp_input_id.value > 0) grp_input_id.value -= 1;                    
                }
                if (btn.classList.contains("btn-plus")) {
                    let grp_id = btn.id.slice(0, -6);
                    let grp_input_id = grp_id + "_amount";
                    if (grp_input_id.value < 999) grp_input_id.value += 1;
                }            
        }        
        
        function prodsTobuySaveToCookie() {
            var prodsTobuycookieVal = JSON.stringify(prodsTobuy);
            document.cookie = "prodsTobuycookie=" + prodsTobuycookieVal;
            //.getCookie('prodsTobuycookie')
            console.log('Cookies prodsTobuycookie saved : ' + document.cookie);
        }

        function prodsTobuySendString() {
            prodsTobuyString = prodsTobuy.toString();
            console.log('from prodsTobuySendString() prodsTobuyString = ' + prodsTobuyString);

            $.ajax({
                type: "POST",
                url: "/Basket/index",
                traditional: true,
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ prodsTobuy })
                //success: function (data) {Result}
            });                
        }

    </script>
</head>

<body class="container-fluid" style="max-width:1500px">
    
    <!-----------------------HEADER-MY------------->    
    
    <!---------NAVIGATION START--------->
    @{
        await Html.RenderPartialAsync("Layout_NavbarPartial");
    }
    <!---------NAVIGATION END--------->

    <div class="row" style="margin-bottom:50px">
        <aside class="col-lg-2 col-md-2 col-sm-12" style="margin-top:50px">
            <div class="position-fixed"> 
            <div><b>Фильтр:</b></div>
            <a href="#" title="Item1">LeftSide_Item1</a> 
            <br />
            <a href="#" class="class3" title="Item2">LeftSide_Item2</a>
            <br />
            <a href="#" target="_blank" class="class4" title="Item3">LeftSide_Item3</a>
            </div>
        </aside>

<!-----------------------MAIN START------------->

            @RenderBody()
        
<!-----------------------MAIN END------------->
    </div>
        <br />
<!-----------------------FOOTER------------->
    <footer class="border-top footer fixed-bottom text-muted bg-white box-shadow">
        <div class="container">
            &copy; 2024 - Fish_Shop <!-- - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -->
            @RenderSection("Footer",false)
        </div>
    </footer>
<!-----------------------FOOTER------------->

<script>
        
</script>
    
    </div>
</body>
</html>
