<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rybka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="~/lib/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
       

    <style>
    </style>

    <script>
        //-----------------------------------------------------------------------LOAD EVENT PROCESSING-----------------------------------------------//
        //-----------------------------------------------------------------------CLICK EVENT PROCESSING-----------------------------------------------//

        document.addEventListener('click', handleClick);

        let prodsTobuy = [];        
        let prodsTobuyString = "";
        let prodsTobuyRequestString = "";
              

        function handleClick(event) {
            console.log('user clicked: ', event.target);
            var btn = event.target;

            //---MAIN select
            if (btn.innerHTML.trim() == 'В корзину' && btn.classList.contains("basketAddRemove")) {
                btn.innerHTML = 'В корзине';
                btn.classList.add('btn-danger');
                btn.classList.remove('btn-success');

                prodsTobuy.push(btn.id);                                //update Prods array
                prodsTobuyString = prodsTobuy.toString();               //update Prods string
                prodsTobuyRequestStringBuild()
                basketUpdate();
                prodsTobuyPrint();
            }
            else {
                if (btn.classList.contains("basketAddRemove")) {
                    btn.innerHTML = 'В корзину';
                    btn.classList.add('btn-success');
                    btn.classList.remove('btn-danger');

                    prodsTobuy.splice(prodsTobuy.indexOf(btn.id), 1);   //update Prods array
                    prodsTobuyString = prodsTobuy.toString();           //update Prods string
                    prodsTobuyRequestStringBuild()
                    basketUpdate();
                    prodsTobuyPrint();
                }
            }           
        }

        function prodsTobuyRequestStringBuild() {
            prodsTobuyRequestString = "";
            for (let i = 0; i < prodsTobuy.length; i++) {
                prodsTobuyRequestString += "basketprodlist[" + i + "]=" + prodsTobuy[i] + "&";
            }
            prodsTobuyRequestString = prodsTobuyRequestString.slice(0, prodsTobuyRequestString.length - 1);
        }

        function basketUpdate() {
            basket_counter.innerHTML = prodsTobuy.length;
            if (prodsTobuy.length == 0) {
                basket.classList.add('basketEmpty');
                basket.setAttribute("href", "/Basket/Index?" + prodsTobuyRequestString);
                prodsTobuySaveToLocalStorage();
            }
            else {
                basket.classList.remove('basketEmpty');
                basket.setAttribute("href", "/Basket/Index?" + prodsTobuyRequestString);
                prodsTobuySaveToLocalStorage();
            }
        }

        function prodsTobuySaveToLocalStorage() {            
            localStorage.setItem('LocalStorageItem_prodsTobuy', JSON.stringify(prodsTobuy));
            localStorage.setItem('LocalStorageItem_prodsTobuyRequestString', JSON.stringify(prodsTobuyRequestString));            
        }

        //-----------------------------------------------------------------------CLICK EVENT-----------------------------------------------//

        //-----------------------------------------------------------------------CHANGE EVENT-----------------------------------------------//

        document.addEventListener('change', handlchange);

        function handlchange(event) {
            var el = event.target;
            if (el.classList.contains('sort_list') || el.classList.contains('filter_item')) {
                console.log('!!!POINT_1');
                let filters = [];
                //---------------------------sort_list
                const sortel = document.querySelector("#sort");
                const id = sortel.options[sortel.selectedIndex].id;
                filters.push(id);
                //---------------------------filter_item
                let check_arr = [];

                check_arr[0] = document.querySelector('#category_filter_all').checked;
                check_arr[1] = document.querySelector('#category_filter_fish').checked;
                check_arr[2] = document.querySelector('#category_filter_plant').checked;
                check_arr[3] = document.querySelector('#category_filter_tool').checked;

                let notall_checked = false;
                for (let i = 0; i < check_arr.length; i++) {
                    if (check_arr[i]) notall_checked = true;
                }

                if (el.id == 'category_filter_all' && !el.classList.contains('sort_list')) {
                    if (check_arr[0] && notall_checked) {
                        document.querySelector('#category_filter_fish').checked = false;
                        document.querySelector('#category_filter_plant').checked = false;
                        document.querySelector('#category_filter_tool').checked = false;
                    }
                    if (!check_arr[0] && !notall_checked) {
                        document.querySelector('#category_filter_all').checked = true;
                    }
                }
                if (el.id != 'category_filter_all' && !el.classList.contains('sort_list')) {
                    if (check_arr[0] && notall_checked) {
                        document.querySelector('#category_filter_all').checked = false;
                    }
                    if (!check_arr[0] && !notall_checked) {
                        document.querySelector('#category_filter_all').checked = true;
                    }
                }

                let checked = document.querySelectorAll('.filter_item');
                checked.forEach(e => { if (e.checked) filters.push(e.id); });
                filters.forEach(e => { console.log('filters to send element : ' + e); });

                fetch('/Home/Products_List',
                    {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(filters)
                    })
                    .then(response => response.text())
                    .then(html => document.getElementById('partialdiv1').innerHTML = html);

                console.log('!!!POINT_7');
            }
        }
       
        //-----------------------------------------------------------------------CHANGE EVENT-----------------------------------------------//
    </script>
</head>
<body class="container-fluid" style="max-width:1500px">

    <!-----------------------HEADER-MY------------->
    <!---------NAVIGATION START--------->
    @{
        await Html.RenderPartialAsync("Layout_NavbarPartial");
    }
    <!---------NAVIGATION END--------->

    <div class="row" style="margin-bottom:50px">

        <!---------FILTER SIDE START------>
        <filterside class="col-lg-2 col-md-2 col-sm-12" style="margin-top:50px">
                @await Html.PartialAsync("FilterSide_PartialView");
            <!---- { await Html.RenderPartialAsync("FilterSide_PartialView");} ------>
        </filterside>
        
        <!---------FILTER SIDE END------>

        <!-----------------------MAIN START------------->
        @RenderBody()
        <main class="col-lg-10 col-md-10 col-sm-12">
            @{
                await Html.RenderPartialAsync("SortPanel_PartialView");
            }

            <div id="partialdiv1">
                @{
                    await Html.RenderPartialAsync("ProductsList_PartialView");
                }
            </div>

        </main>

        <!-----------------------MAIN END------------->
    </div>
    <br />
    <!-----------------------FOOTER------------->
    <footer class="border-top footer fixed-bottom text-muted bg-white box-shadow">
        <div class="container">
            &copy; 2024 - Fish_Shop <!-- - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -->
            @RenderSection("Footer", false)
        </div>
    </footer>
    <!-----------------------FOOTER------------->
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', UpdateBasketCounterOnLoad());

        function UpdateBasketCounterOnLoad() {

            if (localStorage.getItem('LocalStorageItem_prodsTobuy') != null) {
                console.log('!!! prodsTobuyLocalStorageItem NOT NULL');

                let basketcounter = JSON.parse(localStorage.getItem('LocalStorageItem_prodsTobuy'));
                //prodsTobuy = JSON.parse(localstorage.getItem('LocalStorageItem_prodsTobuy'));
                let prodsTobuyRequestString = JSON.parse(localStorage.getItem('LocalStorageItem_prodsTobuyRequestString'));

                basket.classList.remove('basketEmpty');
                basket.setAttribute("href", "/Basket/Index?" + prodsTobuyRequestString);
                document.getElementById('basket_counter').innerHTML = basketcounter.length;

                console.log('!!! basketcounter = ' + basketcounter);
                console.log('!!! prodsTobuyRequestString = ' + prodsTobuyRequestString);

                let prodsarray = JSON.parse(localStorage.getItem('LocalStorageItem_prodsTobuy'));
                console.log('prodsarray = ' + prodsarray);
                prodsarray.forEach(id => {
                    console.log('prodsarray id element = ' + id)
                    btn = document.getElementById(id);
                    btn.innerHTML = 'В корзине';
                    btn.classList.add('btn-danger');
                    btn.classList.remove('btn-success');
                });
            }
        }

 </script>        
</body>
</html>
