<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <title>@ViewData["Title"] - Rybka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->    
    <script src="~/lib/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <style>        
    </style>
    
    <script>

        let prodsTobuy = [];
        let prodsTobuyString = "";
        let prodsTobuyRequestString = "";

        function prodsTobuyPrint() {
            console.log('--->>>prodsTobuyPrint : ');            
            if (prodsTobuy.length == 0) console.log('...prodsTobuy Empty...')
            else prodsTobuy.forEach((number) => console.log(number));
            console.log('prodsTobuyString = ' + prodsTobuy.toString());
            console.log('prodsTobuyRequestString = ' + prodsTobuyRequestString.toString());
        };

        function prodsTobuyRequestStringBuild() { 
            prodsTobuyRequestString = "";
            for (let i = 0; i < prodsTobuy.length; i++) { 
                prodsTobuyRequestString += "basketprodlist[" + i + "]=" + prodsTobuy[i] + "&";                
            }
            prodsTobuyRequestString = prodsTobuyRequestString.slice(0, prodsTobuyRequestString.length - 1);
        }

        function basketUpdate() {                
            basket_counter.innerHTML = prodsTobuy.length;
            if (prodsTobuy.length == 0) {
                basket.classList.add('basketEmpty');                
                basket.setAttribute("href", "/Basket/Index?" + prodsTobuyRequestString);                
                prodsTobuySaveToCookie();
                //basket.setAttribute("asp-route-basketprodlist", prodsTobuyString); //not working
                //textinput_basketProdList.setAttribute('value', prodsTobuyString);  //not working via form
                //document.getElementById('basketProdList').value = prodsTobuyString;//not working via form
            }
            else {
                basket.classList.remove('basketEmpty');                
                basket.setAttribute("href", "/Basket/Index?" + prodsTobuyRequestString);                
                prodsTobuySaveToCookie();
                //basket.setAttribute("asp-route-basketprodlist", prodsTobuyString); //not working
                //textinput_basketProdList.setAttribute('value', prodsTobuyString);  //not working via form
                //document.getElementById('basketProdList').value = prodsTobuyString;//not working via form
            }                        
        }

        function handleClick() {
            document.addEventListener('click', function (event) {
                console.log('user clicked: ', event.target);
                var btn = event.target;
                if (btn.innerHTML.trim() == 'В корзину' && btn.classList.contains("basketAddRemove")) {
                    btn.innerHTML = 'В корзине';
                    btn.classList.add('btn-danger');
                    btn.classList.remove('btn-success');                    

                    prodsTobuy.push(btn.id);                                //update Prods array
                    prodsTobuyString = prodsTobuy.toString();             //update Prods string
                    prodsTobuyRequestStringBuild()
                    basketUpdate();
                    prodsTobuyPrint();                    
                }
                else {
                    if (btn.classList.contains("basketAddRemove")) {
                        btn.innerHTML = 'В корзину';
                        btn.classList.add('btn-success');
                        btn.classList.remove('btn-danger');                                   

                        prodsTobuy.splice(prodsTobuy.indexOf(btn.id), 1);   //update Prods array
                        prodsTobuyString = prodsTobuy.toString();            //update Prods string
                        prodsTobuyRequestStringBuild()
                        basketUpdate();
                        prodsTobuyPrint();                        
                    }
                }
            });
        }
        handleClick();
        
        function prodsTobuySaveToCookie() {
            var prodsTobuycookieVal = JSON.stringify(prodsTobuy);
            document.cookie = "prodsTobuycookie=" + prodsTobuycookieVal;
            //.getCookie('prodsTobuycookie')
            console.log('Cookies prodsTobuycookie saved : ' + document.cookie);
        }

        function prodsTobuySendString() {
            prodsTobuyString = prodsTobuy.toString();
            console.log('from prodsTobuySendString() prodsTobuyString = ' + prodsTobuyString);

            $.ajax({
                type: "POST",
                url: "/Basket/index",
                traditional: true,
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ prodsTobuy })
                //success: function (data) {Result}
            });                
        }

    </script>
</head>

<body class="container-fluid">

    
    <!-----------------------HEADER-MY------------->    
  
    <!---------NAVIGATION START--------->
    <div class="row" style="margin-bottom:50px">
        <nav class="navbar navbar-expand-lg fixed-top border-bottom navbar-toggleable-sm navbar-light bg-white box-shadow col-12">
            <div class="container-fluid">
                
                <a class="nav-link active navbar-brand" aria-current="page" asp-controller="Home" asp-action="index"> Главная </a>
                                
                <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-------------START Collapsed Menu------------->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav" style="display: flex; justify-content: space-between; align-items: center;">
                        <a class="nav-link" href="feedback.html" style="display:none"> История заказов </a>
                        <a class="nav-link" href="feedback.html" style="display:none"> Обратная связь  </a>
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="about"> О нас </a>
                        <!-------------Dropdown------------->
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Разное</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="dropdown-item" href="#">Item1</a></li>
                                <li><a class="dropdown-item" href="#">Item2</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Item3</a></li>
                            </ul>
                        </div>
                    <!-------------Dropdown-MY------------->
                       
                            @{
                                await Html.RenderPartialAsync("_LoginPartial");
                            }

                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Поиск...." aria-label="Поиск...">
                                <button class="btn btn-outline-success" type="submit">Поиск</button>
                            </form>
                       
                    </div>
                </div>
                <!-------------Collapsed Menu END------------->                
                
                <!-------------Basket START------------------->

                <!--asp-controller="Basket" asp-action="Index" asp-route-basketProdList="222" onclick="prodsTobuySendString()"-->
                
                
                <input type="text" id="textinput_basketProdList" name="textinput_basketProdList" hidden/>
                    <a id="basket" class="btn btn-outline-secondary basketEmpty">
                        <img src="/images/shopping-cart.png" width="16" height="16" /> <span id="basket_counter">0</span>
                </a>
                
              
                <!-------------Basket END--------------------->
            </div>
        </nav>
    </div>
    <!---------NAVIGATION END--------->

    <div class="row" style="margin-bottom:50px">
        <aside class="col-lg-2 col-md-2 col-sm-12" style="margin-top:50px">
            <div class="position-fixed"> 
            <div><b>Фильтр:</b></div>
            <a href="#" title="Item1">LeftSide_Item1</a> 
            <br />
            <a href="#" class="class3" title="Item2">LeftSide_Item2</a>
            <br />
            <a href="#" target="_blank" class="class4" title="Item3">LeftSide_Item3</a>
            </div>
        </aside>

<!-----------------------MAIN START------------->

            @RenderBody()
        
<!-----------------------MAIN END------------->
    </div>
        <br />
<!-----------------------FOOTER------------->
    <footer class="border-top footer fixed-bottom text-muted bg-white box-shadow">
        <div class="container">
            &copy; 2024 - Fish_Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @RenderSection("Footer",false)
        </div>
    </footer>
<!-----------------------FOOTER------------->

<script>
        
</script>
</body>
</html>
