<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>Horse_shop_Bootstrap</title>*@
    <title>@ViewData["Title"] - Rybka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fish_Shop1.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-5.3.2-dist/css/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <style>
        a:hover { background-color: yellow; }
    </style>
</head>

<body class="container-fluid" style="background-image:url('../images/fon_3216x2144_pexels-photo-4833216.jpeg')" style="max-width:1500px">
    
    <!-----------------------HEADER-MY------------->    
  
    <!---------NAVIGATION-MY-->
    
    <div class="row" style="margin-bottom:50px;">
        <nav class="navbar navbar-expand-md fixed-top border-bottom navbar-toggleable-sm navbar-light bg-white box-shadow col-lg-12 col-md-12 col-sm-12">
            <div class="container-fluid" style="max-width:1500px">
                <a class="nav-link active navbar-brand" aria-current="page" asp-controller="Home" asp-action="index"> Главная </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                                                              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-link" href="feedback.html" > История заказов </a>
                    <a class="nav-link" href="feedback.html"> Обратная связь </a>
                    <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="about"> О нас </a>
                    <!-------------Dropdown-MY------------->
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Разное</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="#">Подковать</a></li>
                            <li><a class="dropdown-item" href="#">Привить</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Накормить</a></li>
                        </ul>
                    </div>
                    <!-------------Dropdown-MY------------->
                </div>

                <!--div class="me-auto"> ----------------------</div
                class="d-flex" class="float-right class="ml-auto" class="align-self-end" class="text-right"
                class="align-items-end" "
                -->

                <form class="d-flex" class="ml-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Поиск...." aria-label="Поиск...">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>

            </div>
        </div>
        </nav>
    </div>

    <div style="margin-bottom:50px"> <!-- class="row window-full"-->
        <aside class="col-lg-2 col-md-2 col-sm-12" style="margin-top:50px">
            
        </aside>
<!-----------------------MAIN-MY------------->
        
                @RenderBody()
        
<!-----------------------MAIN-MY------------->
    </div>
    <br />
<!-----------------------FOOTER------------->
    <footer class="border-top footer fixed-bottom text-muted bg-white box-shadow">
        <div class="container">
            &copy; 2024 - Fish_Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @RenderSection("Footer",false)
        </div>
    </footer>
<!-----------------------FOOTER------------->

</body>
</html>
