<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>Horse_shop_Bootstrap</title>*@
    <title>@ViewData["Title"] - Rybka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fish_Shop1.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-5.3.2-dist/css/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <style>
        a:hover { background-color: yellow; }
    </style>
</head>

<body class="container-fluid" style="background-image:url('../images/fon_3216x2144_pexels-photo-4833216.jpeg')" style="max-width:1500px">
    
    <!-----------------------HEADER-MY------------->    
  
    <!---------NAVIGATION START--------->
    @{
        await Html.RenderPartialAsync("Layout_NavbarPartial");
    }
    <!---------NAVIGATION END--------->

    <div style="margin-bottom:50px"> <!-- class="row window-full"-->
        <aside class="col-lg-2 col-md-2 col-sm-12" style="margin-top:50px">
            
        </aside>
<!-----------------------MAIN-MY------------->
        
                @RenderBody()
        
<!-----------------------MAIN-MY------------->
    </div>
    <br />
<!-----------------------FOOTER------------->
    <footer class="border-top footer fixed-bottom text-muted bg-white box-shadow">
        <div class="container">
            &copy; 2024 - Fish_Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @RenderSection("Footer",false)
        </div>
    </footer>
<!-----------------------FOOTER------------->

</body>
</html>
