@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

	            <form method='post'>
	                <label>Name:</label><br />
	                <input name='name' /><br />
	                <label>Age:</label><br />
	                <input type='number' name='age' /><br />
	                <input type='submit' value='Send' />
            </form>
            