@{
    Layout = "Layout_noLeftSide";
}

@model string

<!--
<br />
<br />
<br />
<button id="refresh2"> Refresh </button>
-->

<h2> !!!!-----PartialViewTest2------ </h2>
<h3> String transmitted : @Model </h3>