@{
    Layout = "Layout_noLeftSide";    
}
@model string

<!--
<br />
<br />
<br />
<button id="refresh1"> Refresh </button>
-->


<h2> !!!!-----PartialViewTest1------ </h2>
<h3> String transmitted : @Model </h3>