@{
    ViewData["Title"] = "Товар";
    Layout = "Layout_noLeftSide";
}

@model Product

<h1 style="text-align:center">@Model.Name</h1>

<div style="max-width:1000px;  margin:auto">
    <img src="../images/@Model.ImageFile" class="card-img-top" alt="...">
    <div>
        <p>Цена : @Model.Cost</p>
    </div>
    @if (@Model.Description==null) {
        <div>
            <p>@Model.ShortDescription</p>
        </div>
    }
    else {
         <div>
            <p>
                Плавающие растения могут выполнять много полезных функций в аквариуме. Например, они создают естественное затенение для пугливых видов, являются хорошим убежищем для мальков, а лабиринтовым рыбкам помогают строить гнёзда из пузырьков.
                Сегодня мы познакомим вас с капризным, но очень красивым плавающим видом.
            </p>
            <h3>
                Общие сведения 
            </h3>
            <p>
                Азолла каролинская (Azolla caroliniana) – плавающее аквариумное растение из семейства Сальвиниевые. 
                Родиной вида является Северная Америка. Но в настоящее время благодаря интродукции вид распространился во многих тропических странах. Азолла каролинская – это миниатюрный папоротник. 
                Предковые формы этого растения обитали более 70 млн. лет назад и застали даже динозавров. Папоротник азолла – неоднозначное растение. 
                С одной стороны оно нередко выступает в качестве сорняка, который активно покрывает мелкие водоемы, ухудшая в них кислородный обмен. 
                С другой – приносит огромную пользу. В водоёмах, где обитает азолла каролинская, практически не развиваются личинки москитов, что помогает бороться с распространением опасных заболеваний. 
                Также в симбиозе с папоротником находятся цианобактерии вида Anabaena azollae. 
                Они способны улавливать азот из воздуха. Кроме того, папоротник препятствует росту сорняков, поэтому его часто используют на рисовых полях. 
                Азолла каролинская приносит человеку как пользу, так и вред Азолла каролинская приносит человеку как пользу, так и вред Порошок из азоллы каролинской очень питательный, содержит практически все важные аминокислоты. 
                Его используют как добавку для сельскохозяйственных животных, что способствует увеличению их массы, а местные жители нередко поедают его самостоятельно в жареном виде. 
                Благодаря ценному составу и высокой скорости роста, изучается применение азоллы как одной из живых культур при возможной колонизации Марса. 
                Что касается использованию азоллы каролинской в аквариумистике, здесь папоротник применятся для украшения поверхности воды в открытых аквариумах и создания естественного затенения. 
                Также плавающие побеги азоллы могут стать хорошим убежищем для мальков. 
                Сложность при выращивании азоллы каролинской связана с необходимостью мощного освещения и ярко выраженной сезонностью растения. 
            </p>
            <h3>
                Внешний вид
            </h3>
            <p>
                Азолла каролинская относится к плавающим растениям. 
                На поверхности воды оно образует красивые бархатные островки зелёного цвета. Растение нежное и требует бережного обращения. Длина побегов не превышает 3 см. 
                Настоящие корни отсутствуют. 
                На тонких стеблях располагается большое количество маленький листочков длиной до 2 мм и шириной не более 1 мм. Эти листочки имеют сложное строение. 
                Нижняя часть, находящаяся в воде, тонкая и выполняет функцию всасывания минеральных веществ. 
                Верхняя, более крупная, ответственна за процесс фотосинтеза. Также на подводной части листа располагаются органы размножения – сорусы со спорангиями. Азолла каролинская. 
                Внешний вид Азолла каролинская. 
                Внешний вид В период активной вегетации листья азоллы имеют приятный ярко-зелёный цвет. В зимнее время они становятся бурыми. Также при очень ярком освещении листочки могут приобретать красноватый оттенок. 
            </p>
            <h3>
                Ареал обитания 
            </h3>
            <p>
                Историческая родина азоллы каролинской – это тропические районы Северной Америки. Больше всего вид тяготеет к медленнотекущим или стоячим водоёмам. 
                В некоторых из них толщина слоя разросшегося папоротника может достигать 8 см. 
                Искусственное расселение азоллы каролинской привело к тому, что она стала инвазивным видом во многих регионах планеты, особенно тех, где распространено рисоводство (Китай, Индия, Таиланд и др.). 
            </p>
            <h3>
                Уход и содержание 
            </h3>
            <p>
                Содержание азоллы каролинской в домашних условиях сопряжено с рядом трудностей, поэтому её не стоит рекомендовать начинающим аквариумистам. 
                Поскольку азолла является плавающим видом, состав и другие характеристики грунта её совершенно не касаются. 
                А вот что действительно важно – это уровень освещения. Только при ярком свете она будет радовать вас красивыми зелёными листочками и бурным ростом. 
                Чаще всего выбор падает на современные светодиодные светильники, которые обеспечивают мощный световой поток, например, Tetra Tetronic LED ProLine. 
                Продолжительность светового дня должна составлять не менее 12 часов в сутки. В подходящих условиях азолла быстро заполняет поверхность аквариума. 
                Это может создать проблемы, ведь другим растениям не будет хватать света. 
                Поэтому периодически прореживайте побеги папоротника. 
                Недостатка в СО2 азолла испытывать не будет, ведь ее листочки приподняты над поверхностью воды и могут использовать углекислый газ непосредственно из воздуха. Азолла каролинская, хоть и тропический вид, но хорошо приспосабливается к различным параметрам воды. 
                Оптимальная температура для содержания 20-28°С. Папоротник любит кислую (pH меньше 7.0) и мягкую воду (GH=4-10). Азолла каролинская украсит поверхность аквариума Азолла каролинская украсит поверхность аквариума Азолла каролинская характеризуется ярко выраженной сезонностью. 
                В зимний период она переходит в стадию покоя. В природе это инициируется понижением температуры до 16°С и сокращением длины светового дня. Сохранить папоротник можно двумя способами. 
                Первый – поддерживать в аквариуме постоянно высокую температуру (выше 20°С) и интенсивный уровень освещения. 
                Возможен и другой способ – папоротник аккуратно переносят в миску с влажным мхом (например, сфагнумом) и держат там до весны при температуре до 12°С. В марте растения можно снова возвращать в аквариум. 
                Положительно на внешнем виде азоллы каролинской скажется регулярное внесение удобрений, например, Tetra PlantaMin. Оно содержит элементы, такие как железо и калий, дефицит которых чаще всего наблюдается в аквариуме. 
            </p>
            <h3>
                Размножение 
            </h3>
            <p>
                Размножение азоллы каролинской возможно двумя способами. В период активной вегетации (весна-лето) проще всего отделить от материнского куста небольшой участок и поселить его на новом месте, постепенно он начнет разрастаться. 
                Второй способ – размножение спорами. В сорусах на нижней стороне листа располагаются спорангии. В природе с приходом зимы листья азоллы отмирают и опускаются на дно, а в теплое время года споры всплывают на поверхность и образуют новые побеги.
            </p>
        </div>
    }

</div>