@{
    ViewData["About"] = "О нас";
    Layout = "Layout_noLeftSide";
}
<h1>@ViewData["Title"]</h1>

<main class="col-lg-10 col-md-10 col-sm-12" style="margin-top: 60px;">
    <div>
        <h1 style="text-align: center;" > О нас </h1>
    </div>

    <div>
        Мир подводного царства готов предоставит на расселение в удобные аквариумы множество видов морских расстений и живых организмов.
    </div>
        
</main>
