@{
    ViewData["About"] = "О нас";
    Layout = "Layout_noLeftSide";
}
<h1>@ViewData["Title"]</h1>

<main class="col-lg-10 col-md-10 col-sm-12" style="margin-top: 60px;">
    <div>
        <h2 style="text-align: center;" > ABOUT PAGE</h2>
    </div>
        
</main>
