<!---->

<!--<filterside class="col-lg-2 col-md-2 col-sm-12" style="margin-top:50px">-->

    <div class="position-fixed">
        <div><b>Категория:</b></div>
        <div class="form-check">
            <input id="category_filter_all" class="filter_item" type="checkbox" value="Все" checked>
            <label class="form-check-label" for="flexCheckIndeterminate">
                Все
            </label>
        </div>

        <div class="form-check">
            <input id="category_filter_fish" class="filter_item" type="checkbox" value="Рыба">
            <label class="form-check-label" for="flexCheckIndeterminate">
                Рыба
            </label>
        </div>

        <div class="form-check">
            <input id="category_filter_plant" class="filter_item" type="checkbox" value="Растение">
            <label class="form-check-label" for="flexCheckIndeterminate">
                Растение
            </label>
        </div>
        <div class="form-check">
            <input id="category_filter_tool" class="filter_item" type="checkbox" value="Оборудование">
            <label class="form-check-label" for="flexCheckIndeterminate">
                Оборудование
            </label>
        </div>
    </div>

    <!--</filterside>-->
