<!------MAIN------------->
@model IEnumerable<Product>

<main class="col-lg-10 col-md-10 col-sm-12">
    <div>
        <h2 style="text-align: center;">Рыбёшечки</h2>
    </div>
    <div class="dropdown" style="margin-bottom:30px">
        <button class="btn btn-secondary btn-md dropdown-toggle bg-white box-shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
            Сортировать
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="nameasc">   Имя: По возрастанию  </a></li>
            <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="namedesc">  Имя: По убыванию     </a></li>
            <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="costasc">   Цена: По возрастанию </a></li>
            <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="costdesc">  Цена: По убыванию    </a></li>
        </ul>

        <select id="sort" class="btn btn-secondary btn-md dropdown-toggle bg-white box-shadow sort_list" style="color:black">
            <option id="nameasc" class="sort_item" selected> Имя: По возрастанию  </></option>
            <option id="namedesc" class="sort_item"> Имя: По убыванию     </></option>
            <option id="costasc" class="sort_item"> Цена: По возрастанию </></option>
            <option id="costdesc" class="sort_item"> Цена: По убыванию    </></option>
        </select><br /><br />

    </div>   
      
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var mod in Model)
        {
            <div class="col">
                <div id="card" class="card" style="max-width:5000px; max-height:5000px; ">
                       <a href="/Product/Product?productid=@mod.Id">
                            <img src="images/@mod.ImageFile" class="card-img-top" alt="...">
                       </a>
                        
                    <div class="card-body">
                        <h5 class="card-title">@mod.Name</h5>
                        <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-height:100px;">@mod.ShortDescription</p>
                        <div class="center">
                            <button class="btn btn-success basketAddRemove" id="@mod.Id">В корзину</button>
                        </div>
                        <p style="text-align: right;">Цена: @mod.Cost р.</p>
                    </div>
                </div>
            </div>
        }

    </div>
</main>